@import "tailwindcss";

*{
  font-family: serif;
}

@keyframes slideDown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}


::-webkit-scrollbar {
  display: none;
}


/* Temperary  */

.blink-text {
  animation: blinkColor 0.4s steps(10) infinite alternate;
}

@keyframes blinkColor {
  0%   { color: #ef4444; } /* red */
  100% { color: #ffffff; } /* white */
}



/* Page break style works only when printing/exporting */
.page-break {
  page-break-before: always;
  break-before: page;
}
